{% extends 'BLOGTemplateBundle:Theme:template.html.twig' %}

{% block title %}{{ parent() }}A propos{% endblock %}

{% block body %}	
		
	<!-- Phrase d'accroche -->
    <div class="jumbotron" style="margin-bottom:-40px">
      <h1>Site web realisé avec symfony 2</h1>
      <p class="lead">Dans le cadre de notre projet de 4ème année d'école d'ingénieur</p>
    </div>
	
	<br><br><br><br>
	<center> <img src="https://symfony.com/images/v5/logos/header-logo.svg" height="90"></center>
	<br><br>
	<center> <img src="http://www.policeapi.cz/public/img/bootstrap.png" height="90"></center>
	<br><br>
	<center> <img src="https://upload.wikimedia.org/wikipedia/en/1/16/WebGL_Logo.png" height="90"></center>

{% endblock %}	  
	