{% extends 'BLOGTemplateBundle:Theme:template.html.twig' %}

{% block title %}{{ parent() }}Ajouter{% endblock %}

{% block body %}	
	
 
<h3>Formulaire d'annonce</h3>


<div class="well">
  {{ form(form) }}
</div>
	
{% endblock %}	