{% extends 'BLOGTemplateBundle:Theme:template.html.twig' %}

{% block title %}{{ parent() }}Ajouter{% endblock %}

{% block body %}	
	
<br><br> 
<h3>Publier un objet :</h3>


<div class="well">
  {{ include('BLOGTemplateBundle:Theme:form.html.twig') }}
  
</div>
	
{% endblock %}	