{% extends 'BLOGTemplateBundle:Theme:template.html.twig' %}

{% block title %}{{ parent() }}Ajouter{% endblock %}

{% block body %}	
	
<br><br> 
<h3>Publier un objet :</h3>

<center>
	<div class="well">
	  {{ form(form) }}
	</div>
</center>

{% endblock %}	