{% extends 'BLOGTemplateBundle:Theme:template.html.twig' %}

{% block title %}{{ parent() }}Impression 3D{% endblock %}

{% block body %}
	
	
	<br>    

	<center> <img src="https://c1.staticflickr.com/3/2835/9463376277_3408f704b1_b.jpg" width="100%"></center>
	<br>
	
	<h4>*Screenschot de l'interface d'OctoPrint car, pour des raisons de sécurité évidente je n'ai pas envie de mettre en ligne les véritable contrôles de mon imprimante..</h4>
	<br><br><br>
	
{% endblock %}	  
	